# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb

# LaTeX build files
*.dvi
*.ps

# PDF files
*.pdf
